!!! 5
%html
  %head
    %title= "timber"
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic", rel: "stylesheet", type: "text/css"}/
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body.body-timber
    %nav.navbar.navbar-default.navbar-static-top
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".header-nav-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand.navbar-brand-timber{href: root_url} timber
        / Collect the nav links, forms, and other content for toggling
        .header-nav-collapse.collapse.navbar-collapse
          -#%ul.nav.navbar-nav
            %li
              =link_to "Sections", sections_path
            %li
              =link_to "Prompts", prompts_path
          %ul.nav.navbar-nav.navbar-right.navbar-top-timber
            -#if current_flow
              %li.navbar-text
                #{current_flow.title} :
                #{current_project.name}
            %li=link_to "My Account", "#"
            %li=link_to "Results", results_path
            %li=link_to "Sign Out", "#"
    .container.body-container
      .col-xs-12.content-container
        -if content_for?(:nav)
          .row
            .col-sm-3
              = yield :nav
            .col-sm-9
              = yield
        -else
          = yield


      %footer.footer
        .text-muted.text-center= 'Made by Dave, Nic & Jon'

    = javascript_include_tag "application", "data-turbolinks-track" => true
