!!! 5
%html
  %head
    %title= "Rekon"
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    .container.body-container
      %nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            %button.navbar-toggle{"data-target" => ".header-nav-collapse", "data-toggle" => "collapse", type: "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{href: "#"} Rekon
          / Collect the nav links, forms, and other content for toggling
          .header-nav-collapse.collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li.active
                =link_to "Sections", sections_path
                =link_to "Prompts", prompts_path
            %ul.nav.navbar-nav.navbar-right
              -if current_flow
                %li
                  #{current_flow.title} :
                  #{current_project.name} :
              %li
                %a{href: "#"} Username

      .col-xs-12.content-container
        = yield

      %footer.footer
        .text-muted.text-center= 'Made by Dave, Nic & Jon'

    = javascript_include_tag "application", "data-turbolinks-track" => true
